* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: blueviolet;
}

.container {
    
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color:white;
        max-width: 100%;
       min-height: 100%;
       color: black;
    
}